*
    box-sizing: border-box
    font-family: "Ubuntu", sans-serif

.container
    width: 100%
    padding-right: 20px
    padding-left: 20px
    margin-right: auto
    margin-left: auto

.page
    overflow-x: hidden
    &__decor
        display: none 

/* Sidebar */
.sidebar
    position: fixed
    left: -100%
    top: 50px

    height: 100vh
    width: 100%
    border-radius: 10px

    background: #F4EFF6 /* rgba(149 100 170 / 10%) */
    border: 2px solid rgba(149, 100, 170, 0.2)
    padding: 18px
    transition: .3s
    z-index: 2

    &_active
        left: 0%

    &__logo
        margin-bottom: 30px
        a
            font-weight: 700
            font-size: 48px
            color: $main-color

    &__prof
        display: flex
        align-items: center
        padding-bottom: 20px
        border-bottom: 2px solid rgba(149, 100, 170, 0.2)
        margin-bottom: 20px
    &__wrapper
        display: flex
        flex-direction: column
    &__img
        border-radius: 100%
        margin-right: 13px
    &__name
        display: block
        font-weight: 700
        font-size: 16px
        color: #000
        margin-bottom: 5px

.main-menu
    padding-bottom: 20px
    border-bottom: 2px solid rgba(149, 100, 170, 0.2)
    margin-bottom: 20px
    ul
        li
            display: flex
            align-items: center
            margin-bottom: 25px
            &:last-child
                margin-bottom: 0
            svg
                margin-right: 30px
                path, rect
                    transition: .2s
            a
                font-weight: 400
                font-size: 16px
                color: #000
                &::after
                    content: ''
                    display: block
                    width: 0%
                    height: 2px
                    background: $yellow
                    border-radius: 10px
                    transition: .3s
            &:hover
                svg
                    path, rect
                        fill: #FFCF2D
                a::after
                    width: 100%

/* Content */
h1
    font-weight: 700
    font-size: 20px
    color: #000

.sale-box
    display: none

.main-section
    &__title
        border-bottom: 2px solid rgb(149 100 170 / 20%)
        padding-bottom: 10px
        margin-bottom: 23px
    &__btn
        margin-bottom: 32px
        .btn
            margin-bottom: 15px

.slider
    margin-bottom: 34px
    &__item
        background: $main-color
        border-radius: 10px
        position: relative
        padding: 16px 33px
        margin-left: 20px
        .btn
            display: none
    &__offer
        position: absolute
        left: -20px
        top: 50%
        transform: translateY(-50%)

        font-weight: 700
        font-size: 14px
        color: #000
        background: $yellow
        border-radius: 5px
        padding: 3px 10px 4px 10px

    &__price
        font-weight: 700
        font-size: 24px
        color: #fff
        display: flex
        justify-content: flex-end
        align-items: center
        span
            background: $yellow
            border-radius: 100%
            font-weight: 700
            font-size: 8px
            color: #000
            padding: 4px
            margin: 0 2px 0 5px

/* SWIPER */
.swiper
    height: 80px

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction
    bottom: 0

.swiper-pagination-bullet
    background: $yellow
    opacity: 1
.swiper-pagination-bullet-active
    background: $main-color

.icon-box
    &__item
        display: flex
        align-items: center
        margin-bottom: 10px
        &:first-child
            justify-content: center
            &:hover
                path, rect
                    fill: none

        path, rect
            transition: .2s

        /* Доп задача 🫡 */
        &:hover
            path, rect
                fill: #FFCF2D

        &:nth-child(6)
            display: none
        &:nth-child(7)
            display: none

    &__icon-wrapper
        border-radius: 100%
        background: rgb(149 100 170 / 10%)
        display: flex
        align-items: center
        justify-content: center
        width: 30px
        height: 30px
        padding: 8px
        margin-right: 10px

    &__text
        font-weight: 700
        font-size: 12px
        color: $main-color
